<a href="https://colab.research.google.com/github/Data-Analysis-RCODI/ML-Playground/blob/master/Core_Learning_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Core Learning Algorithms**

*   Linear Regression 
*   Classification
*   Clustering
*   Hidden Markov Model 

**What is Linear Regression**

Given x values, we want the y values. 
We draw lines of best fit through the data points
Predict future values in our datasets 

y = mx + b 

Use this line of best fit to predict new data points. Look at all these data points and create lines of best fit

In [8]:
!pip install -q sklearn

ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [0]:
%tensorflow_version 2.x

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow as tf

pd means load into data frame

In [20]:
# Load dataset 

dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv') #training data 
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv') # testing data
print(dftrain.head())
y_train = dftrain.pop('survived')
y_eval = dfeval.pop('survived')

   survived     sex   age  ...     deck  embark_town  alone
0         0    male  22.0  ...  unknown  Southampton      n
1         1  female  38.0  ...        C    Cherbourg      n
2         1  female  26.0  ...  unknown  Southampton      y
3         1  female  35.0  ...        C  Southampton      n
4         0    male  28.0  ...  unknown   Queenstown      y

[5 rows x 10 columns]