<a href="https://colab.research.google.com/github/Data-Analysis-RCODI/ML-Playground/blob/master/Stats_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [5]:
#Goals in five matches 

goals_croatia = np.array([0, 2, 2, 0, 2])
goals_france = np.array([1, 0, 1, 1, 0])

c = np.var(goals_croatia)
print(c) 

f = np.var(goals_france)
print(f)

0.9600000000000002
0.24000000000000005

In [10]:
import statistics 

example_list = [4, 6, 2, 6, 7, 8, 2, 5, 6, 8, 4, 6, 7, 2, 2]

x = statistics.stdev(example_list)

print(x)

2.2038926600773587

In [11]:
# python code to calculate expected  
# value of an array 
  
# Function to calculate expectation 
def calc_Expectation(a, n): 
      
    # variable prb is for probability  
    # of each element which is same for 
    # each element  
    prb = 1 / n 
      
    # calculating expectation overall 
    sum = 0
    for i in range(0, n): 
        sum += (a[i] * prb)  
          
    # returning expectation as sum 
    return float(sum) 
  
  
# Driver program 
n = 6; 
a = [ 1.0, 2.0, 3.0,4.0, 5.0, 6.0 ] 
  
# Function for calculating expectation 
expect = calc_Expectation(a, n) 
  
# Display expectation of given array 
print( "Expectation of array E(X) is : ", 
                                 expect )

Expectation of array E(X) is :  3.5

In [15]:
! git clone https://github.com/Data-Analysis-RCODI/ML-Playground.git

Cloning into 'ML-Playground'...
remote: Enumerating objects: 107, done.
remote: Counting objects: 100% (107/107), done.
remote: Compressing objects: 100% (95/95), done.
remote: Total 107 (delta 50), reused 28 (delta 4), pack-reused 0
Receiving objects: 100% (107/107), 84.15 KiB | 5.61 MiB/s, done.
Resolving deltas: 100% (50/50), done.

In [17]:
cd ML-Playground/

/content/ML-Playground

In [18]:
! git pull

Already up to date.

In [19]:
import pandas as pd
df = pd.read_csv('student-alcohol-consumption/student-mat.csv')
df.head(3)

  school sex  age address famsize Pstatus  ...  Walc  health absences G1 G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6  5  6   6
1     GP   F   17       U     GT3       T  ...     1       3        4  5  5   6
2     GP   F   15       U     LE3       T  ...     3       3       10  7  8  10

[3 rows x 33 columns]